/*General Settings*/
*{
    margin : 0 ; 
    padding : 0 ;
}

.mainBgColor{
    background-color: #ee750c; 
}
.mainTxtColor{
    color : #ee750c;
}
.whiteColor{
    color: white ;
}
a{
    text-decoration : unset;  
    color : black;   
}

/*Header*/
.nav-bar ul li:hover{
    color : #ee750c;
    border-bottom : 1px solid  #ee750c ;
    
}
.nav-bar{
    position: sticky; 
    top : 0px ;
    z-index: 2;
    background-color: white; 
}

.card{
    width : 300px ;
}